.env
.idea
Backend/.idea
Backend/src/main/resources/application-test.yml
Backend/src/main/resources/application-dev.yml
Backend/docker-compose.yml
Backend/HELP.md
Backend/target
Backend/.env
Frontend/.env